{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"
                                   :exclusions [com.google.javascript/closure-compiler-unshaded
                                                org.clojure/google-closure-library
                                                org.clojure/google-closure-library-third-party]}
        thheller/shadow-cljs {:mvn/version "2.11.23"}
        io.homebase/datalog-console {:git/url "https://github.com/groundedSAGE/datalog-console.git"
                                     :sha "a74bbffda45140894698d43d1d8151134f8329b0" #_"6e1fb1daca9725553319f916b7194e20d4a9d699"}
        reagent {:mvn/version "1.0.0"}
        re-frame {:mvn/version "1.2.0"}
        datascript {:mvn/version "1.1.0"}
        datascript-transit {:mvn/version "0.3.0"}
        denistakeda/posh {:mvn/version "0.5.8"}
        cljs-http {:mvn/version "0.1.46"}
        day8.re-frame/async-flow-fx {:mvn/version "0.2.0"}
        metosin/reitit {:mvn/version "0.5.13"}
        metosin/komponentit {:mvn/version "0.3.10"}
        instaparse {:mvn/version "1.4.10"}
        devcards {:mvn/version "0.2.7"}
        borkdude/sci {:mvn/version "0.2.5"}
        garden {:mvn/version "1.3.10"}
        stylefy {:mvn/version "3.0.0"}
        stylefy/reagent {:mvn/version "3.0.0"}
        tick {:mvn/version "0.4.26-alpha"}
        com.rpl/specter {:mvn/version "1.1.3"}
        com.taoensso/sente {:mvn/version "1.16.2"}
        datsync {:mvn/version "0.0.1-alpha2-SNAPSHOT"}}


 :aliases {:carve {:extra-deps {borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                                :sha "4b5010a09e030dbd998faff718d12400748ab3b9"}}
                   :main-opts ["-m" "carve.main"]}}}



